body {
    padding: 50px;
}
#createDsc{
    height: 400px;
}

#createTtl{
    width: 25%;
}

#link{
    display: block;
    margin: 10px 15px;
}

.item, #catg, #image, #desc, #bid{
    padding: 20px;
}