{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a listing</h1>
    <form>
        <div class="form-group">
            {% csrf_token %}
            <input id="createTtl" class="form-control" type="text" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea id="createDsc" class="form-control" placeholder="Enter the description of the item"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}