{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a listing</h1>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="{{ form.item.id_for_label }}">Title</label>
            {{form.item}}
        </div>
        <div>
            <label for="{{ form.bid.id_for_label }}">Starting Bid</label>
            {{form.startbid}}
        </div>
        <div>
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{form.description}}
        </div>
        <div>
            <label for="{{ form.category.id_for_label }}">Category</label>
            {{form.category}}
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
{% endblock %}