{% extends "auctions/layout.html" %}

{% block body %}

    <h2 style="padding-left: 15px;">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" style="margin-top: 30px; margin-bottom: 30px; padding-left: 15px;">
        {% csrf_token %}
        <div class="form-group field">
            <input style="width: 25%;" autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group field">
            <input style="width: 25%;" class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    <l style="padding-left: 15px;">Don't have an account?</l> <a href="{% url 'register' %}">Register here.</a>

{% endblock %}